PyQt6==6.4.2                # giao dien 
PyQt6-WebEngine==6.4.0
PyQt6-WebEngine-Qt6==6.4.0  # giao tiep web 
#pyqtgraph   # ve bieu do 
paho-mqtt                   # mqtt 

skikit-image                # path planning 
spicy                       # dilation map 
rdp                         # simplified path 

networkx                    # dijkstra 