PyQt6==6.11.0               # giao dien
PyQt6-Qt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.0 # giao tiep web
pyqtgraph==0.13.7           # ve bieu do
paho-mqtt                   # mqtt 

scikit-image                # path planning 
scipy                        # dilation map 
rdp                         # simplified path 

networkx                    # dijkstra networkx
PyYAML
pandas                      # export / process log
requests                    # camera stream
